{% extends 'base.html' %}
{% block title %}
	Iniciar sesion
{% endblock %}
{% block content %}
<div class="container py-5">  <!-- padding arriba/abajo -->
    <div class="row justify-content-center py-5" >
        <div class="col-md-6 col-lg-4 py-5" >
            <div class="card shadow p-4">  <!-- padding interno -->
                <h3 class="text-center mb-4">Registro</h3>
                <form action="{% url 'core:login' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="next" value="{% url 'core:home' %}">
                    <button type="submit" class="btn btn-primary w-100 mt-3">
                        🚀 Registrarse
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}